.home__section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;

  }
  
  .home__top {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px black;
    overflow: hidden;
    z-index: 10;
  }
  
  .home__body {
      width: 100%;
      height: 100%;
      min-height: 70vh;
      z-index: 50;
      display: flex;
      position: relative;
      left:0px;
      top:60%;
      right:0px;
      bottom:0px;
      flex-direction: column;
  }

  .home__landing-video-container{
    width: 100%;
    height: 100vh;
  }

  .home__landing-video-container__video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home__landing-video-container__container{
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .home__landing__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
  }

  .home__landing-video-container__info{
    width: 40%;
    height: 50%;
    position: absolute;
    font-weight: 200;
    top:50%;
    left: 1rem;
    color: var(--text-color);
  }

  .home__landing-video-container__purchase-button{
    width: 15rem;
    height: 5rem;
    position: absolute;
    z-index: 100;
    bottom: 10rem;
    left: 1rem;
    font-weight: 200;
    color: aliceblue;
    background-color: var(--transparent);
    border-radius: 20px;
    box-shadow: black 0 0 20px;
    transition: background 0.2s;
  }

  .home__landing-video-container__purchase-button:hover{
    background-color: var(--hover-color);
    color: var(--nav-color);
  }

  .home__landing-video-container__purchase-button__text{
    width: 100%;
    height: 100%;
    text-align: center;
    
  }

  .home__body__introduction-text-container{
    width: 100%;
    height: 80vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__body__introduction-text-container__title{
    font-weight: 800;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--nav-color);
    margin-bottom: 2rem;
  }

  .home__body__introduction-text-container__text{
    width: 40%;
    height: 20%;
    font-weight: 400;
    color: var(--nav-color);
  }

  .home__body__package-info{
    height: 60vh;
    width: 100%;
    background-color: var(--hover-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .home__body__package-info__text{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--nav-color);
  }

  .home__body__showcase-section{
    min-height: 100vh;
    width: 100%;
  }

  .home__body__package-info__button{
    width: 15rem;
    height: 5rem;
    border-radius: 20px;
    background-color: var(--nav-color);
    color: var(--nav-enterprise-color);
    box-shadow: black 0 0 20px;
    transition: background 0.2s, color 0.2s;
  }

  .home__body__package-info__button:hover{
    background-color:var(--nav-enterprise-color);
    color: var(--nav-color);
  }

  .home__body__showcase-section__categories{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .home__body__showcase-section__categories__info{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--nav-color);
  }

  .home__body__showcase-section__categories__buttons{
    width: 60%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .home__body__showcase-section__categories__buttons__category-button{
    border: dotted var(--nav-color) 1px;
    border-radius: 20px;
    color: var(--nav-color);
    transition: background 0.2s;
  }
  
  .home__body__showcase-section__categories__buttons__category-button:hover{
    background-color: var(--hover-color);
  }

  .home__body__showcase-section__categories__showcase{

  }

  .home__body__search__advicetext{
    width: 85%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--nav-color);
    font-size: large;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-shadow: black 0 0 2px;
    transition: opacity 0.3s ease-in-out;
  }

  
  .home__body__results__text{
    width: 85%;
    height: 4rem;
    display: flex;
    position: absolute;
    top: 20rem;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-top: 3rem;
    color: var(--notification-color);
    font-size: large;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-shadow: black 0 0 2px;
  }


@media screen and (max-width: 900px) {

  
}